<section class="d-flex justify-content-center align-items-center text-center py-5 mb-5">
    <div class="container py-5 mb-5">
        <h2 class="fw-bold fs-2 text-uppercase">Contact component</h2>
        <div class="d-flex justify-content-center align-items-center">
            <div class="line ms-auto"></div>
            <i class="fa-solid fa-star text-black px-4 fs-4"></i>
            <div class="line me-auto"></div>
        </div>
        <div class="form w-75 py-5 m-auto">
            <div class="form-floating mb-5">
                <input type="text" class="form-control shadow-none border-top-0 border-start-0 border-end-0 " id="floatingInput" placeholder="name@example.com">
                <label style="color: #1ABC9C;" for="floatingInput">User Name</label>
              </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control shadow-none border-top-0 border-start-0 border-end-0 " id="floatingInput" placeholder="name@example.com">
                <label style="color: #1ABC9C;" for="floatingInput">User Age</label>
              </div>
            <div class="form-floating mb-5">
                <input type="email" class="form-control shadow-none border-top-0 border-start-0 border-end-0 " id="floatingInput" placeholder="name@example.com">
                <label style="color: #1ABC9C;" for="floatingInput">User Email</label>
              </div>
            <div class="form-floating mb-5">
                <input type="password" class="form-control shadow-none border-top-0 border-start-0 border-end-0 " id="floatingInput" placeholder="name@example.com">
                <label style="color: #1ABC9C;" for="floatingInput">User Password</label>
              </div>
              <button style="background-color: #1ABC9C ; color: white;" class="btn p-3  text-start d-block">Send Message</button>

        </div>

       
        
         
          


          
          
    </div>
</section>
